<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence    http://java.sun.com/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="NOTES_APP_PU" transaction-type="RESOURCE_LOCAL">
    <provider>
		org.eclipse.persistence.jpa.PersistenceProvider
	</provider>
    <class>com.rlbpc.reservasdehotel.instances.Agenda</class>
    <class>com.rlbpc.reservasdehotel.instances.Apartamento</class>
    <class>com.rlbpc.reservasdehotel.instances.Endereco</class>
    <class>com.rlbpc.reservasdehotel.instances.Reserva</class>
    <class>com.rlbpc.reservasdehotel.instances.Hospede</class>
    <class>com.rlbpc.reservasdehotel.instances.Pessoa</class>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:h2:file:./db/notesDB;DB_CLOSE_ON_EXIT=TRUE;"/>
      <property name="javax.persistence.jdbc.user" value=""/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.jdbc.driver" value="org.h2.Driver"/>
      <property name="eclipselink.logging.level" value="INFO"/>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
